.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 500px;
  height: 1000px;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
  background-color: #E0D2AB;
  padding: 40px
}

img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: "Comic Sans MS", sans-serif
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: "Comic Sans MS", sans-serif
}

h4 {
  font-size: 18px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif
}

p {
  font-size: 18px;
  font-family: "Comic Sans MS", sans-serif
}
